.landing {
    background-image: url("https://images.unsplash.com/photo-1501618423058-ac1c9b4b32a5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
    background-size: cover;
    background-position: center;
    height: 95vh;
    position: relative;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg,rgba(0, 0, 0,.88),rgba(67, 5, 255, 0.31));
}

.description-box {
    margin-left: 50%;
    transform: translateX(-50%);
    padding-top: 15%;
    color: white;
    text-align: center;
}

.description-box h1 {
     font-size: 4em;
     font-weight: bold;
 }

.description-box p {
    font-size: 1.5em;
    font-weight: bold;
}