.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-position: center;
    will-change: opacity;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg,rgba(0, 0, 0,.88),rgba(67, 5, 255, 0.31));
}

.description-box {
    margin-left: 50%;
    transform: translateX(-50%);
    padding-top: 15%;
    color: white;
    text-align: center;
}

.description-box h1 {
     font-size: 4em;
     font-weight: bold;
 }

.description-box p {
    font-size: 1.5em;
    font-weight: bold;
}